html {
	scroll-behavior: smooth;
}

*,*:before,*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family:Poppins;
	box-sizing: border-box;
}

.navbar {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 70px;
	z-index: 1;
	transition: 0.5s ease;
}

.bg.scrolled {
	background-color: #f2982e;
}

.nav {
	display: flex;
	justify-content: right;
	list-style: none;
	margin-right: 10%;


}

.logo {
	flex: 1 1 auto;
	margin-left: 10%;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 20px;	
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	color: #8c0001;
}

a {
	margin: 15px;
	color: #8c0001;
	text-decoration: none;
	text-transform: uppercase;

}

a.hover {
	color: #000;
}

.logo-image img{
    width: 120px;
    height: 50px;
    overflow: hidden;
    margin-top: -2px;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}

.icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}

.icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #8c0001;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;

}

@media screen and (max-width: 768px) {
	.logo-image {
		float: none;
		width: auto;
		justify-content: center;
	}
	.nav {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		transition: all 0.5s ease-in-out;
	}
	.navbar a {
		font-size: 20px;
	}
	:checked ~ .nav {
		bottom: 0;
	}
	.icon-burger {
		display: block;
	}
	:checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg) ;
	}
	:checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	:checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
}

.banner-area,
.single-banner {
	height: 100vh;
}
.single-banner {
	position: relative;
}
.single-banner .banner-img {
	width: fit-content;
	height: fit-content;
	overflow: hidden;
}
.banner-img img {
	position: relative;
	width: 100%;
	height: 100vh;
	opacity: 0.6;
}
.banner-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.banner-text-services p{
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.banner-text h2 {
	font-size: 55px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: bold;
	color: #8c0001;
	margin: 0;
}
.banner-text p {
	font-size: 20px;
	font-family: 'Noto Sans JP', sans-serif;
}


.banner-btn a {
	text-decoration: none;
	background: #f2982e;
	border: none;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
}
.banner-btn-service a {
	text-decoration: none;
	background: #f2982e;
	border: none;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
	position: absolute;
	top: 90%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}




.about-area {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: 700px;
}


.services-area, 
.projects-area, 
.partners-area,
.contactus-area {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: 700px;
}

.text-part {
	width: 65%;
	height: 80px;
}

.about-area, .projects-area {
	background: #fefefe;
}

.services-area, .partners-area {
	background: #f8f8f8;
	color: #4e4e4e;
}

.contactus-area {
	background: #8c0001;
}



section {
	width: 100%;
  }
  
  
.left-half  h1 {
	font-size: 3.0rem;
	margin: 0 0 0.75rem 0;
	color: #f2982e;
	font-family: 'Noto Sans JP', sans-serif;
  }
  
  /* Pattern styles */
  .left-half {
	float: left;
	width: 35%;
	font-size: 20px;
  }
  .left-half p {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	text-align: justify;
  }
  .right-half {
	float: left;
	width: 35%;
  }
  .abt-image {
	width:540px; /* you can use % */
	height: auto;
	align-content: center;
  }

 /* SERVICES section */ 
.inner-width {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
	overflow: hidden;
}
.section-title {
	text-align: center;
	font-size: 30px;	
}
.border {
	width: 80px;
	height: 3px;
	background: #8c0001;
	margin: 20px auto;
}
.services-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 6em;
}
.service-box {
	max-width: 30%;
	padding: 20px;
	text-align: center;
	cursor: pointer;
}
.service-icon {
	display: inline-block;
	width: 90px;
	height: 90px;
}
.service-icon i {
	line-height: 90px;
	font-size: 70px;
}
.service-box:hover .service-icon {
	background: #8c0001;
	color: #f2982e;
}
.service-title {
	font-size: 18px;
	margin-bottom: 50px;
}
.service-desc {
	font-size: 14px;
}
@media screen and (max-width:960px) {
	.service-box {
		max-width: 45%;
	}
}

@media screen and (max-width:768px) {
	.service-box {
		max-width: 50%;
	}
}

@media screen and (max-width:480px) {
	.service-box {
		max-width: 100%;
	}
}
/* SERVICES ends here*/

/* PROJECTS section */ 
.inner-width {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
	overflow: hidden;
}
.section-title {
	text-align: center;
	font-size: 30px;
	color: #4e4e4e;	
}
.border {
	width: 80px;
	height: 3px;
	background: #8c0001;
	margin: 20px auto;
}
.projects-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 3em;
}
.projects-box {
	max-width: 30%;
	padding: 20px;
	text-align: center;
	margin: auto;
}
.projects-image {
	/* you can use % below*/
	width: 30%; 
	height: auto;
	align-content: center;
}
.projects-title {
	font-size: 16px;
	margin-bottom: 5px;
	text-align: left;
	font-weight: bold;
	color: #f2982e;
}
.projects-desc {
	font-size: 13px;
	text-align: left;
}
@media screen and (max-width:960px) {
	.projects-box {
		max-width: 45%;
	}
}

@media screen and (max-width:768px) {
	.projects-box {
		max-width: 50%;
	}
}

@media screen and (max-width:480px) {
	.projects-box {
		max-width: 100%;
	}
}
/* PROJECTS ends here*/

/* PARTNERS section */ 
.inner-width {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
	overflow: hidden;
}
.section-title {
	text-align: center;
	font-size: 30px;
	color: #4e4e4e;	
}
.border {
	width: 80px;
	height: 3px;
	background: #8c0001;
	margin: 20px auto;
}
.partners-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 3em;
}
.partners-box {
	flex: 33.33%;
  	padding: 5px;
}
.partners-image-1 {
	float: inline-start;
	width: 50%;
	padding: 5px;
}
.partners-image-2 {
	float: inline-end;
	width: 50%;
	padding: 5px;
}

@media screen and (max-width:960px) {
	.partners-box {
		max-width: 45%;
	}
}

@media screen and (max-width:768px) {
	.partners-box {
		max-width: 50%;
	}
}

@media screen and (max-width:480px) {
	.partners-box {
		max-width: 100%;
	}
}
/* PARTNERS ends here*/


/*Footer starts here */

footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	padding: 50px;
	color: #fefefe;
	background: #8c0001;
}
.footer > *{
	flex: 1 100%;
}
.footer-left {
	margin-right: 1.25em;
	margin-bottom: 2em;
}
.footer-left img {
	width: 50%;
}
h2 {
	font-weight: 600;
	font-size: 17px;
}
.footer ul {
	list-style: none;
	padding-left: 0;
}
.footer li{
	line-height: 2em;
}
.footer a {
	text-decoration: none;
}
.footer-right {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
}
.footer-right > *{
	flex: 1 50%;
	margin-right: 1.25em;
}
.box a {
	color: #999;
}
.footer-bottom {
	text-align: center;
	color: #999;
	padding-top: 50px;
}
.footer-left p {
	padding-right: 20%;
	color: #999;
}
.socials a {
	background: #8c0001;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 10px;
}
.socials a i {
	color: #e7f2f4;
	padding: 10px 12px;
	font-size: 20px;
}

@media screen and (min-width: 600px) {
	.footer-right > *{
		flex: 1;
	}
	.footer-left {
		flex: 1 0px;
	}
	.footer-right {
		flex: 2 0px;
	}
}

@media (max-width: 600px) {
	.footer {
		padding: 15px;
	}
	main {
		font-size: 55px;
	}
}

